* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.fa-imdb {
   font-size: 80px;
   color: #080cec;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#movies__main {
    flex: 1;
}

.blue {
    color: #080cec
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 

}

.container {
    padding: 56px 0;
}

.section__title {
    padding-left: 20px;
}

#movies__body {
    background-color: #ececec
}

.movies__section--sub-title {
    padding-bottom: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

/* NAV */

nav {
    height: 80px;
    display: flex;
    padding: 20px;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__links {
    padding-left: 10px;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #080cec;
    font-weight: bold;
    padding: 8px;
}

.nav__link--primary {
    border: 2px solid rgba(255, 10, 10, 0.925);
    border-radius: 4px;
}

/* MAIN */

.search__wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 24px; 
  padding: 6px 14px;
  background-color: #fff;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

input {
  border: none;
  outline: none; 
  flex-grow: 1;  
  padding: 8px;
}

.hide {
    display: none;
}

.movie-grid {
    display: grid;
    gap: 48px;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    padding: 16px;
}

.movie__img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}




